$white: #ffffff;
$very-dark: #141517;
$dark: #2c2e3f;
$light: #fbf8f8;
$bright: #fe7865;
$bright-hover: #f17d4b;
$opacity-dark: rgba(20, 21, 23, 0.7);
$opacity-light: rgba(20, 21, 23, 0.5);
$opacity-verylight: rgba(44, 46, 63, 0.3);
$separater: #d7d9df;
$close-button: rgba(20, 21, 23, 0.2);

$tablet-width: 768px;
$desktop-width: 1920px;

$mobile-content: 288px;
